<p style="color: green"><%= notice %></p>

<% content_for :title, "Repair sections" %>

<h1>Repair sections</h1>

<div id="repair_sections">
  <% @repair_sections.each do |repair_section| %>
    <%= render repair_section %>
    <p>
      <%= link_to "Show this repair section", repair_section %>
    </p>
  <% end %>
</div>

<%= link_to "New repair section", new_repair_section_path %>
