<% content_for :title, "New repair section" %>

<h1>New repair section</h1>

<%= render "form", repair_section: @repair_section %>

<br>

<div>
  <%= link_to "Back to repair sections", repair_sections_path %>
</div>
