<div id="<%= dom_id privacy_page %>">
  <div>
    <strong>Title:</strong>
    <%= privacy_page.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= privacy_page.content %>
  </div>

</div>
