<p style="color: green"><%= notice %></p>

<% content_for :title, "Confidentialité" %>
<% content_for :meta_description, "Politique de confidentialité : données collectées pour vos commandes et demandes, droits d'accès et de suppression." %>

<h1>Privacy pages</h1>

<div id="privacy_pages">
  <% @privacy_pages.each do |privacy_page| %>
    <%= render privacy_page %>
  <% end %>
</div>
