<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Salut <%= @user.email %> et merci pour ta commande jeune templier !</h1>
        <p>
        Tu viens de gagner 30 points d'armure grâce à ta commande n°<%= @order.id %>.
        </p>
        <p>
        Pour accéder à ton espace client et consulter ta commande, connecte-toi via : <%= @url %>.
        </p>
        <p> À très vite sur monsite.fr !
    </body>
</html>
