<p style="color: green"><%= notice %></p>

<% content_for :title, "Conditions générales" %>
<% content_for :meta_description, "Conditions générales de vente et d'utilisation : paiements sécurisés, livraison suivie et politiques de retour." %>
<% content_for :structured_data do %>
  <%= jsonld_tag(policy_page_schema(type: "TermsOfService",
                                    name: page_title_value,
                                    description: page_meta_description)) %>
<% end %>

<div class="container py-4 mt-4">
  <h1 class="text-center mb-5">Conditions générales</h1>

  <div id="terms_pages">
    <% @terms_pages.each do |terms_page| %>
      <%= render terms_page %>
    <% end %>
  </div>
</div>
