<div id="<%= dom_id about_section %>">
  <div>
    <strong>Title:</strong>
    <%= about_section.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= about_section.content %>
  </div>

  <div>
    <strong>Position:</strong>
    <%= about_section.position %>
  </div>

</div>
