<p style="color: green"><%= notice %></p>
<% content_for :title, @event.title %>
<% category_label = @event.category.presence || "événement" %>
<% content_for :meta_description,
                meta_description_from(@event.description) ||
                "#{@event.title} : #{category_label.downcase} animé par notre atelier#{@event.location.presence ? " à #{@event.location}" : ""}." %>

<%= render @event %>

<div>
  <%= link_to "Back to events", events_path %>
</div>
