<article id="<%= dom_id repair_page %>" class="card-service">
  <h3 class="card-service__title"><%= repair_page.title %></h3>
  <div class="card-service__text">
    <%= simple_format(repair_page.content.to_s) %>
  </div>
</article>
