<div id="<%= dom_id repair_page %>">
  <div>
    <strong>Title:</strong>
    <%= repair_page.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= repair_page.content %>
  </div>

  <div>
    <strong>Position:</strong>
    <%= repair_page.position %>
  </div>

</div>
