<% content_for :title, "Admin - Modifier une page réparation" %>

<%= admin_page(title: "Modifier une page réparation") do %>
  <%= render "form", repair_page: @repair_page %>

  <div class="mt-3 d-flex gap-2">
    <%= link_to "Voir la page", @repair_page, class: "btn btn-outline-secondary btn-sm" %>
    <%= link_to "Retour aux pages réparation", admin_repair_pages_path, class: "btn btn-outline-secondary btn-sm" %>
  </div>
<% end %>
