<p style="color: green"><%= notice %></p>

<% content_for :title, "Réparation" %>
<% content_for :meta_description, "Diagnostic, restauration fidèle et suivi transparent pour vos équipements médiévaux." %>

<h1>Repair pages</h1>

<div id="repair_pages">
  <% @repair_pages.each do |repair_page| %>
    <%= render repair_page %>
  <% end %>
</div>
