<div id="<%= dom_id home_page %>">
  <div>
    <strong>Title:</strong>
    <%= home_page.title %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= home_page.content %>
  </div>

  <div>
    <strong>Position:</strong>
    <%= home_page.position %>
  </div>

</div>
