<% content_for :title, "Mon panier" %>
<% content_for :meta_description, "Vérifiez vos articles, quantités et montant avant de passer au paiement." %>
<% content_for :structured_data do %>
  <%= jsonld_tag(shopping_cart_schema(@cart_products)) %>
<% end %>

<h1>Mon Panier</h1>

<%= render partial: "carts/cart_contents", locals: { cart_products: @cart_products } %>
