<div class="container py-4 mt-5">
  <div id="<%= dom_id about_page %>">
    <div>
      <strong>Title:</strong>
      <%= about_page.title %>
    </div>

    <div>
      <strong>Content:</strong>
      <%= about_page.content %>
    </div>

  </div>
</div>
